doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drills 3 - d-01
    link(rel='stylesheet', href='./css/d-01.css')
  body
    a(href='index.html') Home

    h1 d-01

    input#first(type='text')
    input#last(type='text')
    input#movie(type='text')
    button#makeString Make String
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/d-01.js')
