doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drills 3 - d-07
    link(rel='stylesheet', href='./css/d-07.css')
  body
    a(href='index.html') Home
    
    h1 d-07

    input#movieCount(type='text' placeholder='Number of Movies')       
    button#operate Get Box Office
    #chartdiv

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://www.amcharts.com/lib/3/themes/light.js')
    script(src='./js/es6/d-07.js')
