doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drills 3
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Drills 3
    
    a(href='d-01.html') d-01
    br
    a(href='d-02.html') d-02
    br
    a(href='d-03.html') d-03
    br
    a(href='d-04.html') d-04
    br
    a(href='d-05.html') d-05
    br
    a(href='d-06.html') d-06
    br
    a(href='d-07.html') d-07

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
